= simple_form_for @shift, html: { class: 'form-horizontal' } do |f|
  = f.input       :start_date, as: :datepicker
  = f.association :worker, collection: workers

  = f.button :submit, class: 'btn btn-default'
  = link_to 'Cancel', shifts_path, class: 'btn btn-default'

.double-bottom-margin
